body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  padding: 40px;
  gap: 20px;
}
.box{
  width: 80px;
  height: 80px;
}
.box.visible{
  border: 1px solid black;
  cursor: pointer;
}
.box.hidden{
  opacity: 0;
  cursor: initial;
}
.box.selected{
  background-color: green;
  cursor: not-allowed;
}